{{ if and ( not ( eq .RelPermalink ( i18n "protospace-landing-url" ) ) ) ( not ( eq .RelPermalink "/" ) ) }}
    <gcds-breadcrumbs slot="breadcrumb">
        <gcds-breadcrumbs-item href='{{ i18n "protospace-landing-url" }}'>{{ i18n "protospace-name" }}</gcds-breadcrumbs-item>
        {{ if .CurrentSection }}
            {{ if and (ne .CurrentSection.RelPermalink ( i18n "protospace-landing-url" ) ) (ne .CurrentSection.RelPermalink .RelPermalink) }}
                <gcds-breadcrumbs-item href="{{ .CurrentSection.RelPermalink }}">{{ .CurrentSection.Title }}</gcds-breadcrumbs-item>
            {{ end }}
        {{ end }}
    </gcds-breadcrumbs>
{{ end }}